<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RelatórioTransacao</title>
    <style>

        body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .container {
            max-width: 100%;
        }

        header {
            text-align: center;
            margin-bottom: 5px;
        }

        div.logo {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        h1 {
            margin-bottom: 5px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: 0;
            text-align: center;
        }

        section {
            margin-bottom: 20px;
        }

        table {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        footer {
            text-align: center;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div class="logo">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="128.000000pt" height="128.000000pt" viewBox="0 0 512.000000 512.000000"
             preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
               fill="#048404" stroke="none">
                <path d="M2340 4200 c-150 -19 -331 -73 -490 -147 -323 -150 -633 -460 -783
                            -783 -56 -119 -99 -248 -129 -381 -20 -92 -23 -130 -23 -329 0 -199 3 -237 23
                            -329 76 -340 216 -597 456 -837 240 -240 497 -380 837 -456 92 -20 130 -23
                            329 -23 199 0 237 3 329 23 340 76 597 216 837 456 240 240 380 497 456 837
                            20 92 23 130 23 329 -1 198 -3 238 -24 329 -75 339 -215 596 -455 837 -237
                            236 -483 372 -816 451 -89 20 -136 25 -305 28 -110 2 -229 0 -265 -5z m342
                            -527 l3 -118 30 -3 c61 -6 190 -44 249 -73 130 -65 216 -151 282 -281 19 -37
                            34 -72 34 -77 0 -9 -368 -137 -374 -130 -2 2 -13 23 -25 46 -32 65 -77 109
                            -139 140 -51 25 -67 28 -162 28 -121 0 -184 -19 -224 -66 -71 -83 -27 -207 89
                            -251 22 -9 105 -30 185 -48 417 -92 541 -161 642 -358 51 -99 61 -145 56 -269
                            -7 -168 -57 -280 -179 -404 -98 -99 -249 -167 -414 -188 l-50 -6 -3 -142 -3
                            -143 -119 0 -119 0 -3 143 -3 142 -50 6 c-232 29 -430 154 -529 333 -34 61
                            -74 172 -65 180 6 6 401 98 404 94 1 -2 13 -28 27 -58 45 -101 112 -157 220
                            -186 75 -20 219 -18 287 3 140 44 197 189 109 280 -41 42 -106 66 -293 109
                            -352 80 -505 161 -592 314 -101 178 -91 410 24 587 51 78 151 166 235 207 69
                            34 172 66 210 66 16 0 18 11 18 120 l0 120 120 0 119 0 3 -117z" />
            </g>
        </svg>
    </div>
    <div class="container">
        <header>

            <h1>Minha Grana</h1>
            <h2>Relatório de Transações Financeiras</h2>
            <br />
        </header>
        <section>
            <hr /><br />

            {{CABECALHO_CONTA_BANCARIA}}

            <table class="table table-striped table-hover table-sm">
                <thead class="table-light">
                    <tr class="thead-dark table-title">
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                {{LISTA_TRANSACOES}}
            </table>
        </section>
        <footer>
            <p>Relatório emitido por MinhaGrana.BNB<br />Todos os direitos reservados®</p>
        </footer>
    </div>

</body>
</html>
